body{
background: var(--background,url('./diseno-web.jpg')); 
width: var(--width,100%);
height: var(--height,100%);
background-size: var(--background-size,cover);
background-attachment: var(--background-attachment,fixed);
background-repeat: var(--background-repeat,no-repeat);
}
#tabla{
background-color: var(--background-color,black);
width: var(--width,20%);
left: var(--left,20%); 
}
tr.fila ,td{
color:var(--color,white) ;
border: var(--border,3px solid);
}
#boton_id{
background-color: var(--background-color,green);
color: var(--color,white);
display: var(--display,block);
width: var(--width,40%);
left: var(--left,20%); 
}
#formulario{
display: var(--display,block);
width: var(--width,20%);
left: var(--left,20%); 
padding: var(--padding,1px);
}